h1 {
font-size:67px; 
font-family: arial;
font-weight: 100;
text-align: center;
text-decoration: underline;
text-transform: capitalize;
color: white;
}
p{
font-size:20px;
text-indent: 30px;
font-family: arial;
color: lightyellow;
}
a{
font-size:22px;
font-family: comic sans ms;
color: lightblue;

}
font-family: comic sans ms;
color: white;
h3 {

}
