h1 { 
font-family: comic sans ms;
color: white ;

}
a{
margin: 150px;
font-size: 23px;
text-align: justify;
font-family: comic sans ms;
color: lightblue;
text-decoration: none;
}
h2{  
font-size: 35px;
font-family: comic sans ms;
color: white;
}
p {

font-size: 25px;
font-family: comic sans ms;
color: lightyellow ;

}